.container {
	font-family: "Helvetica", sans-serif !important;
}
.container p{
	font-size: 12px;
	font-family: "Helvetica", sans-serif !important;
}
#paideia-panel {
	font-family: "Helvetica", sans-serif !important;
	line-height: normal !important;
}
#another-div {
	float: right;
	margin: 15px;
	width:90px;
	background-color: white;
	padding: 20px 15px 15px 15px;
	margin-top:-20px;
	text-align: center;
}
#paideia-panel h4{
  margin: 0;
  font-size: 16px !important;
  text-align: left !important;
  text-transform: uppercase !important;
  font-weight: bold !important;
  margin-top: 8px;
  margin-bottom: 8px;
}
#paideia-panel h5 {
	margin: 0px !important; 
	font-size: 14px !important; 
	font-style: italic !important;
	font-weight: normal !important;
}
#paideia-panel h3 {
	margin: 1px !important; 
	font-family: "Helvetica", sans-serif !important;
	font-size: 12px !important; 
	font-weight: normal !important;
	text-align: center !important;
}
#paideia-panel p{
  font-size: 12px;
  font-family: "Helvetica", sans-serif !important;
}
.lemma_definition {
	font-size: 14px;
	font-weight: normal;
}
#paideia-panel footer{
	font-size: 11px;
	text-align: left;
	font-style: italic;
}
#vocab pre{
	font-size: 12px; 
	font-family: "Helvetica", sans-serif; 
	text-align: left; 
	white-space: pre-wrap; 
	white-space: -moz-pre-wrap; 
	white-space: -pre-wrap;
	white-space: -o-pre-wrap; 
	word-wrap: break-word;
}
.paideia-input input[type="text"] {
  width: 90%;
  padding: 10px;
  border: solid 1px #dcdcdc;
  transition: box-shadow 0.3s, border 0.3s;
}
.paideia-input input[type="text"]:focus,
.paideia-input input[type="text"].focus {
  border: solid 1px #707070;
  box-shadow: 0 0 5px 1px #969696;
}
.paideia-button {
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  background-color: white;
  border-color: aliceblue;
  border-radius: 3px;
}

/*
.paideia-table Style - This is what you want
------------------------------------------------------------------ */
.paideia-table a:link {
  color: #666;
  font-weight: bold;
  text-decoration:none;
}
.paideia-table a:visited {
  color: #999999;
  font-weight:bold;
  text-decoration:none;
}
.paideia-table a:active,
.paideia-table a:hover {
  color: #bd5a35;
  text-decoration:underline;
}
.paideia-table {
  font-family: "Helvetica", sans-serif; 
  font-size: small;
  color:#666;
  margin:20px;
  margin-left: 0px;
  border-collapse: collapse !important;
}
.paideia-table td{
  text-align: left !important;
  padding-right: 20px !important;
  font-family: "Helvetica", sans-serif !important;
  font-size: small !important;
}

.paideia-table thead td {
	font-size: medium !important;
	border-bottom: 1px solid black;
	font-style: italic;
	font-weight: bold;
}
.paideia-table tr:hover td{
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}